@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Changed from center to flex-start */
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
  box-sizing: border-box;
  font-weight: 400;
  background-image: radial-gradient(circle at top left, #34384a, #0b092a);
  background-attachment: fixed;
}




#root{
  font-family: 'Questrial', sans-serif;
  width: 100%; /* Add this to prevent horizontal shifting */
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-controls {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.search-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%; /* Changed from 600px to 100% to use parent width */
}

.search-input {
  border-radius: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  flex-grow: 1;
  margin: 1rem 0;
  padding: 0.5rem;
}

.search-input:focus::placeholder {
  color: transparent;
}

.post-dropdown {
  width: 100%; /* Use parent width instead of fixed 600px */
}

.post-dropdown select {
  width: 100%; 
  padding: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.all-posts {
  display: flex;
  text-decoration: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start; /* Changed from center */
  
  width: 1200px;
  height: 500px;
}

.all-posts a {
  text-decoration: none;
  color: inherit; /* This ensures the link doesn't change the text color either */
}

.post {
  background-image: radial-gradient(circle, #e5e6ea, #a09af6);
  color: rgb(3, 3, 56);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 10px;
  width: 300px;
  text-align: center;
  border: 1px solid;
  margin: 1rem; 
  align-items: center;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);
}

.post:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.post * {
  text-decoration: none;
}

.post a {
  text-decoration: none;
}

.post-topic {
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  margin: 5px;
}

.post-title {
  margin: 5px;
  text-decoration: none;
}

.post-details {
  background-image: radial-gradient(circle, #e5e6ea, #a09af6);
  color: rgb(3, 3, 56);
  font-size: large;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 10px;
  width: 1200px;
  text-align: left;
  border: 1px solid;
  margin: 1rem; 
  align-items: center;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);
}

.btn-primary {
  font-family: 'Questrial', sans-serif;
  margin: 10px;
  padding: 10px;
  width: 70px;
  align-self: flex-end;
  text-decoration: none;
  border-radius: 0.5rem;

}

.btn-primary:hover {
  background-color: #adb6da;

}

.btn-primary:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


.container {
  margin: 100px;
  padding: 50px;
  background-image: radial-gradient(circle, #e5e6ea, #a09af6);
}

.my-posts-container {
  margin: 100px;
  padding: 50px;
  background-image: radial-gradient(circle, #ffffff, #d1d1d6);
}

.my-post {
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle, #ffffff, #cecde1);
  color: rgb(3, 3, 56);
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 10px;
  width: 80%;
  text-align: center;
  border: 1px solid;
  margin: 1rem; 
  align-items: center;
  box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
    2px 4px 20px hsla(0, 0%, 0%, 0.2);
}




.my-post-btn-primary {
  font-family: 'Questrial', sans-serif;
  margin: 10px;
  padding: 10px;
  width: 70px;
  align-self: flex-end;
  text-decoration: none;
  border-radius: 0.5rem;

}

.my-post-btn-primary:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #760000;
  color: white;


}

.my-post-btn-primary:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.my-post-topic {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  margin: 5px;
}

.user-heading {
  font-size: x-large;
  margin: 20px 0px;
}

.form-heading {
  font-size: x-large;
}


.form-container {
  margin: 100px;
  padding: 50px;
  background-image: radial-gradient(circle, #fdfdfd, #a09af6);
}

.form-control {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
}

.form-body {
  display: flex;
  align-items: fle;
  height: calc(7.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--outline);
  border-radius: 0.25rem;
}

.form-group {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}

.form-btn {
  align-self: flex-end;
}

.form-btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.form-dropdown {
  width: 30%; /* Use parent width instead of fixed 600px */
}

.form-dropdown select {
  width: 100%; 
  padding: 0.5rem;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  margin: 1rem 0;
}