  .navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color:rgb(3, 3, 56);
    
    margin: 0;
    width: 100%;
    padding: 0.5rem;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: whitesmoke;
  }

  .navbar-link {
    color: whitesmoke;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: rgb(168, 166, 166);
  }