.auth-container {
  border: 1px solid gray;
  margin: 3rem 15rem;
  padding: 2rem;
  border-radius: 1rem;
  background-image: radial-gradient(circle, #fdfdfd, #a09af6);
}

.header {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 3rem;
}

.auth-form-input {
  padding: 0.25rem;
}

.register-link {
  text-align: center;
  margin: 1rem;
}

.auth-fieldset {
  margin: .5rem 0.5rem;
}
